.recipes__container {
  width: 80%;
  margin: auto;
  padding-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recipes__container .recipe__box {
  width: 90%;
  -webkit-box-shadow: 0 2px 5px black;
          box-shadow: 0 2px 5px black;
  padding: 10px;
  border-radius: 5px;
  background-color: #292929;
  min-height: 80px;
  margin: 8px;
}

.recipes__container .recipe__box div:nth-child(1) {
  text-align: right;
  font-weight: bold;
  font-size: 1.6rem;
  color: #778899;
}

.recipes__container .recipe__box div:nth-child(1) span {
  font-size: 1rem;
}

.recipes__container .recipe__box div:nth-child(2) {
  text-align: center;
  font-size: 1.4rem;
  margin-top: 5px;
  padding: 10px;
  color: #ffa343;
}

.recipes__container .recipe__box:hover {
  cursor: pointer;
  background-color: #434343;
}

@media screen and (min-width: 786px) {
  .recipes__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .recipes__container .recipe__box {
    width: 350px;
    min-height: 120px;
    margin: 10px;
  }
  .recipes__container .recipe__box div:nth-child(1) {
    font-size: 1.8rem;
  }
  .recipes__container .recipe__box div:nth-child(1) span {
    font-size: 1.2rem;
  }
  .recipes__container .recipe__box div:nth-child(2) {
    text-align: center;
    font-size: 1.6rem;
    color: #ffa343;
    font-weight: bold;
    letter-spacing: 1.5px;
  }
}
