@import "../../../scss/layout";
@import "../../../scss/styles";

.create__options__container {
    @include flexColumnAlignJustifyCenter();
    padding-bottom: 70px;
    .option {
        margin: 10px;
        background-color: $dark-color;
        color: $white-color;
        padding: 10px;
        height: 200px;
        width: 150px;
        border-radius: 5px;
        box-shadow: 5px 5px 10px $grey-color;
        &:hover {
            cursor: pointer;
            background-color: lighten($dark-color, 10%);
        }
        h3 {
            color: $grey-color;
            margin-bottom: 5px;
        }
        h1 {
            text-align: center;
            font-size: 1.6rem;
        }
        div{
            height: 75%;
            @include flexColumnAlignJustifyCenter();
            .icon {
                font-size: 4rem;
            }
        }
    }
}

@media screen and (min-width: 786px) {
    .create__options__container {
        
        @include flexCenter();
        .option {
            margin: 50px;
            height: 300px;
            width: 200px;
            h1 {
                font-size: 2rem;
            }
            div{
                .icon {
                    font-size: 6rem;
                }
            }
        }
    }
}