.single__list__item {
  width: 95%;
  margin: 18px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 2px 4px 4px #778899;
          box-shadow: 2px 4px 4px #778899;
  padding: 5px;
  border-radius: 5px;
  background-color: #fafbfb;
}

.single__list__item .checkBox__container {
  display: block;
  position: relative;
  margin-right: 35px;
  margin-bottom: 10px;
  cursor: pointer;
}

.single__list__item .checkBox__container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.single__list__item .checkBox__container span {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: #f2f2ff;
  border-radius: 50%;
  -webkit-box-shadow: 1px 3px 5px #292929;
          box-shadow: 1px 3px 5px #292929;
}

.single__list__item .checkBox__container span:after {
  content: "";
  left: 11px;
  top: 7px;
  width: 6px;
  height: 10px;
  border: solid #ceceff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
}

.single__list__item .checkBox__container input:checked ~ span {
  background-color: #292929;
}

.single__list__item .single__item__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.single__list__item .single__item__data h3 {
  font-size: 1.1rem;
}

.single__list__item .single__item__data h3 span {
  color: #778899;
  font-size: 0.9rem;
}

.single__list__item .single__item__data .quantity__unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #292929;
  padding: 2px 5px;
  border-radius: 4px;
}

.single__list__item .single__item__data .quantity__unit p {
  margin: 0 2px;
  font-size: 1.1rem;
  color: #f2f2ff;
}

.single__list__item .single__item__data .quantity__unit p:nth-child(1) {
  font-weight: bold;
}

.single__list__item .streched {
  width: 100%;
}

.single__list__item .delete__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
  font-size: 1.4rem;
  color: #ff0000;
}

.grocery__item__checked {
  background-color: #caff96;
}

@media screen and (min-width: 786px) {
  .single__list__item {
    width: 65%;
    -webkit-box-shadow: 4px 6px 8px #778899;
            box-shadow: 4px 6px 8px #778899;
    padding: 8px;
  }
  .single__list__item .single__item__data h3 {
    font-size: 1.3rem;
  }
  .single__list__item .single__item__data .quantity__unit {
    padding: 3px 6px;
  }
  .single__list__item .single__item__data .quantity__unit p {
    font-size: 1.3rem;
  }
  .single__list__item .delete__icon {
    font-size: 1.8rem;
    color: #292929;
  }
  .single__list__item .delete__icon:hover {
    cursor: pointer;
    color: #ff0000;
  }
}
