.list__details__container {
  width: 90%;
  margin: 0 auto;
}

.list__details__container .title div:nth-child(1) {
  color: #778899;
  font-size: 1.1rem;
  font-weight: bold;
}

.list__details__container .title div:nth-child(2) {
  color: #292929;
  margin-top: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

.list__details__container .option__buttons {
  margin-bottom: 30px;
}

.list__details__container .option__buttons button {
  border: none;
  border-bottom: 1px solid black;
  color: #292929;
  font-size: 0.7rem;
  margin-left: 10px;
  padding: 5px;
  font-weight: bold;
  -webkit-box-shadow: 0 2px 4px #778899;
          box-shadow: 0 2px 4px #778899;
  border-radius: 2px;
}

.list__details__container .option__buttons button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 2px 8px #778899;
          box-shadow: 0 2px 8px #778899;
}

.list__details__container .option__buttons .delete__button:hover {
  background-color: #ff0000;
  color: #f2f2ff;
}

@media screen and (min-width: 786px) {
  .list__details__container {
    width: 50%;
    margin-top: 30px;
  }
  .list__details__container .title div:nth-child(1) {
    font-size: 1.5rem;
  }
  .list__details__container .title div:nth-child(2) {
    margin-top: 20px;
    font-size: 1.7rem;
  }
  .list__details__container .option__buttons button {
    border: none;
    border-bottom: 1px solid black;
    color: #292929;
    font-size: 1rem;
    margin-left: 10px;
    padding: 5px;
    font-weight: bold;
    -webkit-box-shadow: 0 2px 4px #778899;
            box-shadow: 0 2px 4px #778899;
    border-radius: 2px;
  }
  .list__details__container .option__buttons button:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 2px 8px #778899;
            box-shadow: 0 2px 8px #778899;
  }
}
