@import "../../scss/styles";
@import "../../scss/layout";

.header {
    .top {
        @include flexColumn();
        background-color: $dark-color;

        div:nth-child(2) {
            a {
                display:block;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 2rem;
                font-weight: bold;
                text-align: center;
                color: $grey-color;
                text-shadow: 0px 0px 25px $white-color;
                letter-spacing: 2px;
                &:hover {
                    color: $white-color;
                }
            }

        }
        div:nth-child(3) {
            text-align: center;
            padding: 10px;
            a {
                text-decoration: none;
                color: $grey-color;
                font-weight: bold;
                font-size: 1.2rem;
                &:hover {
                    color: $white-color;
                }
            }

        }
    }
    
    .bottom {
        @include flexColumnAlignCenter();
        margin-bottom: 40px;
        box-shadow: 0px 2px 10px $grey-color;
        padding: 10px;
        .navLinks {
            text-decoration: none;
            border-bottom: 3px solid $grey-color;
            margin: 10px;
            padding: 2px 8px;
            font-size: 1rem;
            color: $grey-color;
            font-weight: bold;
            &:hover {
                border-bottom: 3px solid $dark-color;
            }
        }
        .active__link {
            border-bottom: 3px solid $dark-color;
            color: $dark-color;
        }
        button {
            margin-top: 10px;
            margin-left: 15px;
            border: none;
            background-color:  $grey-color;
            color: $green-color;
            padding: 7px;
            border-radius: 4px;
            font-weight: bold;
            box-shadow: 2px 2px 2px $grey-color;
            font-size: 0.8rem;
            &:hover {
                cursor: pointer;
                background-color:  darken($grey-color, 10%);
            }
        }
    }
}



@media screen and (min-width: 768px) {
    .header {
        .top {
            @include flexRow();
            justify-content: space-between;
            padding: 10px;

            div:nth-child(3) {
                @include flexCenter();
                padding: 0px;
                a {
                    font-size: 1.4rem;
                }
            }
        }
        
        .bottom {
            @include flexRow();
            .navLinks {
                margin: 5px 15px;
                padding: 2px 11px;
                font-size: 1.3rem;
            }
            button {
                margin-top: 0;
                font-size: 1rem;
            }
        }
    }
}