.preperation__container {
  width: 95%;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.preperation__container textarea {
  width: 80%;
  padding: 10px 15px;
  border: none;
  background-color: #f2f2ff;
  color: #292929;
  border-radius: 5px;
  margin: 5px;
  resize: none;
  width: 90%;
  height: 160px;
  padding: 12px;
  color: #778899;
  font-size: 0.9rem;
}

.preperation__container textarea:focus {
  outline: none;
  border-left: 3px solid #292929;
  border-bottom: 3px solid #292929;
  -webkit-box-shadow: 0px 1px 5px #292929;
          box-shadow: 0px 1px 5px #292929;
}

.preperation__container .cals__container {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.preperation__container .cals__container p {
  font-size: 1rem;
  font-weight: bold;
  color: #778899;
}

.preperation__container .cals__container input {
  width: 80%;
  padding: 10px 15px;
  border: none;
  background-color: #f2f2ff;
  color: #292929;
  border-radius: 5px;
  margin: 5px;
  width: 70px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #778899;
}

.preperation__container .cals__container input:focus {
  outline: none;
  border-left: 3px solid #292929;
  border-bottom: 3px solid #292929;
  -webkit-box-shadow: 0px 1px 5px #292929;
          box-shadow: 0px 1px 5px #292929;
}

@media screen and (min-width: 786px) {
  .preperation__container {
    width: 65%;
  }
  .preperation__container textarea {
    height: 200px;
    padding: 20px;
    font-size: 1.1rem;
  }
  .preperation__container .cals__container p {
    font-size: 1.2rem;
  }
  .preperation__container .cals__container input {
    width: 80%;
    padding: 10px 15px;
    border: none;
    background-color: #f2f2ff;
    color: #292929;
    border-radius: 5px;
    margin: 5px;
    width: 90px;
    font-size: 1.4rem;
    color: #778899;
  }
}
