@mixin flexRow() {
    display: flex;
    flex-direction: row;
}
@mixin flexColumn() {
    display: flex;
    flex-direction: column;
}

@mixin flexRowSpaceBetween() {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin flexRowFlexEnd() {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@mixin flexRowFlexEvenly() {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@mixin flexCenter() {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flexColumnAlignCenter() {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

@mixin flexColumnAlignJustifyCenter() {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}