$dark-color: #292929;
$grey-color: #778899;
$white-color: #f2f2ff;
$orange-color: #ffa343;
$green-color: #7cfc00;
$red-color: #ff0000;

@mixin InputBasic {
    width: 80%;
    padding: 10px 15px;
    border: none;
    background-color: $white-color;
    color: $dark-color;
    border-radius: 5px;
    margin: 5px;
}

@mixin InputFocused {
    outline: none;
    border-left: 3px solid $dark-color;
    border-bottom: 3px solid $dark-color;
    box-shadow: 0px 1px 5px $dark-color;
}

@mixin OptionButtonsButton($fontSize) {
    button {
        border: none;
        border-bottom: 1px solid black;
        color: $dark-color;
        font-size: $fontSize;
        margin-left: 10px;
        padding: 5px;
        font-weight: bold;
        box-shadow: 0 2px 4px $grey-color;
        border-radius: 2px;
        &:hover {
            cursor: pointer;
            box-shadow: 0 2px 8px $grey-color;
        }
    }
}
